.my-container {
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
body {
  background-color: #efece6;
}
.apply-btn {
  background: #4c57ff;
  border-radius: 24px;
  padding: 6px 19px;
  border: none;
  border: 1px solid #4c57ff;
}
.ml_168 {
  margin-left: 168px;
}
.mt_263 {
  margin-top: 263px;
}
.mt_20 {
  margin-top: 20px;
}
.max_w_1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.shopping-box {
  padding-top: 46px;
  padding-bottom: 54px;
}
.gap_52 {
  gap: 52px;
}
.max_w_360 {
  max-width: 360px;
}
.max_w_350 {
  max-width: 350px;
}
.max_w_470 {
  max-width: 470px;
}
.max_w_400 {
  max-width: 400px;
}
.mt_180 {
  margin-top: 180px;
}
.blur-card {
  background: #dedede;
  padding: 12px 7px;
  filter: blur(2px);
}
.study {
  padding-top: 120px;
  padding-bottom: 122px;
}
.study-img {
  max-width: 480px;
  max-height: 320px;
}
.gap_100 {
  gap: 100px;
}
.black_circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #0e1122;
}
.header-img {
  height: 851px !important;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .ml_168 {
    margin-left: 80px;
  }
  .mt_263 {
    margin-top: 263px;
  }
}
@media (max-width: 575.98px) {
  .shopping-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
