.my-container {
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
body {
  margin: 0;
  padding: 0;
  background-color: transparent; /* Make body background transparent */
}

.content-container {
  background-color: transparent; /* Set background color for content container */
  transition: background-color 0.3s ease; /* Add transition effect for smooth color change */
}

.black-background {
  background-color: black;
  width: 100%; /* Change background color for content container to black */
  transition: background-color 0.3s ease; /* Add transition effect for smooth color change */
}
.max_w_1060 {
  max-width: 1060px;
}
::-webkit-scrollbar {
  display: none !important ;
}
.get-btn {
  background: transparent;
  border-radius: 24px;
  color: #4c57ff !important;
  padding: 6px 19px;
  border: none;
  border: 1px solid #4c57ff;
  transition: all 300ms linear;
}
.get-btn:hover {
  background: #4c57ff;
  border-radius: 24px;
  color: white !important;
  padding: 6px 19px;
  border: none;
  border: 1px solid #4c57ff;
}
.apply-btn {
  background: #4c57ff;
  border-radius: 24px;
  padding: 6px 19px;
  border: none;
  border: 1px solid #4c57ff;
  transition: all 300ms linear;
}
.apply-btn:hover {
  background: transparent;
  border-radius: 24px;
  color: #4c57ff !important;
  padding: 6px 19px;
  border: none;
  border: 1px solid #4c57ff;
}
.mt_-80 {
  margin-top: -80px !important;
}
.ml_168 {
  margin-left: 168px;
}
.mt_263 {
  margin-top: 263px;
}
.mt_20 {
  margin-top: 20px;
}
.max_w_1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.shopping-box {
  padding-top: 46px;
  padding-bottom: 54px;
}
.gap_52 {
  gap: 52px;
}
.max_w_360 {
  max-width: 360px;
}
.max_w_350 {
  max-width: 350px;
}
.max_w_470 {
  max-width: 470px;
}
.max_w_400 {
  max-width: 400px;
}
.max_w_620 {
  max-width: 620px;
}
.mt_180 {
  margin-top: 180px;
}
.pb_62 {
  padding-bottom: 62px;
}
.card-img-1 {
  width: 180px;
  height: 171px;
}
.card-img-2 {
  margin-left: 73px;
  width: 146px;
  height: 73px;
}
.card-img-3 {
  margin-left: 450px;
  width: 113px;
  height: 73px;
}
.card-img-4 {
  margin-left: 141px;
  width: 191px;
  height: 54px;
}
.card-img-5 {
  margin-left: 555px;
  width: 115px;
  height: 40px;
}
.card-img-6 {
  margin-left: 125px;
  width: 254px;
  height: 103px;
}
.card-img-7 {
  margin-left: 292px;
  width: 92px;
  height: 40px;
}
.card-img-8 {
  margin-left: 189px;
  width: 231px;
  height: 168px;
}
.dots {
  margin-bottom: -25px !important;
  margin-left: 50px;
}
.dot-1 {
  margin-left: 234px;
  position: relative;
}
.dot-2 {
  margin-left: 165px;
}
.dot-3 {
  margin-left: 66px;
}
.dot-4 {
  margin-left: 363px;
}
.dot-5 {
  margin-left: 170px;
}
.dot-6 {
  margin-left: 132px;
}
.dot-7 {
  margin-left: 256px;
}
.dot-8 {
  margin-left: 112px;
}
.bg-line {
  min-width: 1840px;
  margin-left: 54px;
}
.pt_66 {
  padding-top: 66px;
}
.blur-card {
  max-width: 365px;
}
.blur-position {
  top: 280px;
  right: 35px;
}
.study {
  padding-top: 120px;
  padding-bottom: 122px;
}
.study-img {
  max-width: 480px;
  max-height: 320px;
}
.study-img-2 {
  max-width: 480px;
  max-height: 320px;
}
.gap_100 {
  gap: 100px;
}
.black_circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #0e1122;
}
.header-img {
  height: 742px !important;
  object-fit: cover;
}
.blur-card-1 {
  max-width: 218px;
  top: 20%;
  left: -20%;
}
.blur-card-2 {
  max-width: 302px;
  top: -8%;
  right: -10%;
}
.mt_195 {
  margin-top: 195px;
}
.mt_164 {
  margin-top: 164px;
}
.mt_84 {
  margin-top: 0px;
}
.mt_54 {
  margin-top: 0px;
}
.mt_67 {
  margin-top: 0px;
}
@media (max-width: 1199.98px) {
  .study-img {
    max-width: 387px;
    max-height: 258px;
    border-radius: 40px;
    object-fit: cover;
  }
  .study-img-2 {
    max-width: 387px;
    max-height: 258px;
    border-radius: 40px;
    object-fit: cover;
  }
}
@media (max-width: 991.98px) {
  .ml_168 {
    margin-left: 38px;
  }
  .mt_263 {
    margin-top: 400px;
  }
  .blur-position {
    top: 170px;
    right: 0px;
  }
  .blur-card {
    max-width: 305px;
  }
  .gap_100 {
    gap: 50px;
  }
}

@media (max-width: 767.98px) {
  .blur-card-1 {
    max-width: 175px;
    top: 0%;
    left: 0%;
  }
  .blur-card-2 {
    max-width: 230px;
    top: -5%;
    right: 0%;
  }
  .blur-card {
    max-width: 195px;
  }
  .mt_195 {
    margin-top: 100px;
  }
  .mt_164 {
    margin-top: 100px;
  }
  .mt_84 {
    margin-top: 84px;
  }
  .mt_54 {
    margin-top: 54px;
  }
  .mt_67 {
    margin-top: 67px;
  }
}
@media (max-width: 375.98px) {
  .blur-card-1 {
    max-width: 175px;
    top: -20%;
    left: -2%;
  }
  .study-img {
    transform: translateX(60px) !important;
    border-radius: 40px;
    object-fit: cover;
  }
  .study-img-2 {
    transform: translateX(-60px);
    border-radius: 40px;
    object-fit: cover !important;
  }
}
@media (max-width: 575.98px) {
  .shopping-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
