.card_parent {
  justify-content: center;
}
.slider_content {
  opacity: 100% !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 318px !important;
  min-height: 300px;
  padding: 20px !important;
}

.mx_slider_custom {
  transition: all 0.3s ease-in-out;
}

.swiper-slide-active .content_box {
  width: auto;
}
.swiper-slide-active {
  width: 100% !important;
}
/* .swiper-slide-active > .card_parent {
  width: 100% !important;
} */

.swiper-slide {
  display: flex;
  place-items: center;
  width: 230px;
  height: 444px;
  /* border-/radius: 10px; */
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}
.card_parent .img_parent img {
  min-width: 318px;
  height: 162px;
}
.content_box .card_val {
  padding: 22px;
  width: 318px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}
.content_box,
.content_box .card_val,
.card_parent {
  height: 100% !important;
}

@media (max-width: 374.9px) {
  .swiper-slide {
    scale: 0.9;
  }
}
@media (min-width: 768px) {
  .swiper-slide-active {
    scale: 0.8;
  }
  .content_box,
  .content_box .card_val,
  .card_parent {
    height: unset !important;
  }
  .swiper-slide:not(.swiper-slide-active) .img_parent {
    border-radius: 40px !important;
    overflow: hidden;
    height: 0%;
  }
  .card_parent .img_parent img {
    min-width: 239px;
    height: 375px;
  }
  .swiper-slide {
    height: 386px;
  }
  .content_box {
    width: 0;
    overflow: hidden;
    transition: all 3ms linear !important;
  }
  .content_box .card_val {
    padding: 40px;
    width: 400px;
    border-radius: 0 40px 40px 0 !important;
  }
  .swiper-slide-active {
    width: 90% !important;
  }
}
@media (min-width: 992px) {
  .swiper-slide-active {
    width: 70% !important;
  }
  .swiper-slide-active {
    scale: 0.8;
  }
}
@media (min-width: 1200px) {
  .swiper-slide-active {
    scale: 1;
  }
  .swiper-slide-active {
    width: 640px !important;
  }
}
