.card_parent {
  justify-content: center;
}
.slider_content {
  opacity: 100% !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 318px !important;
  min-height: 300px;
  padding: 20px !important;
}

.mx_slider_custom {
  transition: all 0.3s ease-in-out;
}
.card_parent .img_parent img {
  min-width: 239px;
  height: 365px;
}

.content_box {
  width: 0;
  overflow: hidden;
  transition: all 3ms linear !important;
}
.swiper-slide-active .content_box {
  width: auto;
}
.swiper-slide-active {
  width: 100% !important;
}
.swiper-slide-active > .card_parent {
  width: 100% !important;
}

.swiper-slide:not(.swiper-slide-active) .img_parent {
  border-radius: 40px !important;
  overflow: hidden;
}

.content_box .card_val {
  padding: 22px;
  width: 400px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}

.swiper-slide {
  display: flex;
  place-items: center;
  width: 230px;
  /* min-height: 500px; */
  border-radius: 10px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}
@media (min-width: 768px) {
  .content_box .card_val {
    padding: 40px;

    border-radius: 0 40px 40px 0;
  }
  .swiper-slide-active {
    width: 90% !important;
  }
}
@media (min-width: 992px) {
  .swiper-slide-active {
    width: 70% !important;
  }
}
@media (min-width: 1200px) {
  .swiper-slide-active {
    width: 48% !important;
  }
}
