@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  text-decoration: none !important;
  list-style-type: none !important;
}

html,
body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@font-face {
  font-family: "font-abril-semibold";
  src: url("../font/Abril_Display/Abril_Display_SemiBold.otf");
}

.font-abril-semibold {
  font-family: "font-abril-semibold", sans-serif;
}

@font-face {
  font-family: "font-abril-bold";
  src: url("../font/Abril_Display/Abril_Display_Bold.otf");
}

.font-abril-bold {
  font-family: "font-abril-bold", sans-serif;
}

:root {
  /* FONT-SIZES */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-xl: 22px;
  --font-2xl: 28px;
  --font-3xl: 40px;
  --font-4xl: 50px;
  --font-5xl: 62px;

  /* COLORS */
  --light-grey: #95959d;
  --dark-white: #afafb5;
  --grey: #dddddd;
  --dark-grey: #76767f;
  --blue: #4c57ff;
  --light-black: #0e1122;
  --black: #000000;
  --light-yellow: #efece6;
}



@media (max-width: 1199.98px) {
  :root {
    --font-sm: 12px;
    --font-base: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-3xl: 32px;
    --font-4xl: 42px;
    --font-5xl: 54px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 18px;
    --font-3xl: 28px;
    --font-4xl: 38px;
    --font-5xl: 50px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-md: 14px;
    --font-lg: 16px;
    --font-2xl: 28px;
    --font-4xl: 32px;
    --font-5xl: 47px;
  }
}

@media (max-width: 374.98px) {
  :root {
    --font-2xl: 24px;
    --font-4xl: 38px;
    --font-5xl: 36px;
  }
}

.font-xs {
  font-size: var(--font-xs);
}

.font-sm {
  font-size: var(--font-sm);
}

.font-base {
  font-size: var(--font-base);
}

.font-md {
  font-size: var(--font-md);
}

.font-lg {
  font-size: var(--font-lg);
}

.font-xl {
  font-size: var(--font-xl);
}

.font-2xl {
  font-size: var(--font-2xl);
}

.font-3xl {
  font-size: var(--font-3xl);
}

.font-4xl {
  font-size: var(--font-4xl);
}

.font-5xl {
  font-size: var(--font-5xl);
}

.text-blue {
  color: var(--blue);
}

.text-black {
  color: var(--black) !important;
}

.text-grey {
  color: var(--grey);
}

.text-light-grey {
  color: var(--light-grey);
}

.text-dark-grey {
  color: var(--dark-grey);
}

.text-light-black {
  color: var(--light-black);
}

.text-dark-white {
  color: var(--dark-white);
}

.bg-light-black {
  background-color: var(--light-black);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-yellow {
  background-color: var(--light-yellow) !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* .heading {
  font-size: var(--font-3xl);
  font-weight: 600;
  font-family: "font-abril-semibold";
} */

.transition_03s {
  transition: all 0.3s ease-in-out;
}

.transition_05s {
  transition: all .5s linear;
}

.letter_spacing {
  letter-spacing: 8%;
}

.hide_header {
  transform: translateY(-100%);
}

.transition_05s {
  transition: all 500ms ease-in-out;
}

.image_zoom_hover {
  border-radius: 40px;
}

.image_zoom_hover:hover img {
  transform: scale(1.06);
}

.layer_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh !important;
  min-height: 750px !important;
  width: 100vw;
  background: #000;
  z-index: 1;
  opacity: 0.6;
}

.min_h_hero {
  min-height: 800px !important;
}

/* HERO CSS START HERE */
.container_modified {
  max-width: 1240px;
}

/* .hero_parent {
  margin-top: -64px;
} */

.hero_img_parent {
  z-index: -1;
  height: 100vh !important;
  object-fit: cover;
}

.hero_blur_card {
  max-width: 365px;
  transform: translateX(80px);
}

.hero_heading_width {
  max-width: 470px;
}

.hero_para_width {
  max-width: 400px;
}

@media (max-width:1399.98px) {
  .hero_blur_card {
    transform: translateX(0px);
  }
}

@media (max-width: 767.98px) {
  .hero_blur_card {
    max-width: 180px;
  }

  .hero_para_width {
    max-width: 330px;
  }

  .hero_content {
    padding: 0px 32px;
  }

  .hero_small_img {
    position: absolute;
    right: 0;
    bottom: 50%;
  }
}