/* BACK TO TOP CSS HERE */
.back_to_top_arrow_size {
  max-width: 40px !important;
}

.back_to_top_arrow_size path {
  fill: #fff;
}

.back_to_top_hover:hover {
  -webkit-box-shadow: 0px 5px 10px 0px #ffffff !important;
  box-shadow: 0px 5px 10px 0px #ffffff !important;
}

.back_to_top_animation {
  -webkit-animation: back_to_top_animation 3s 300ms infinite;
  animation: back_to_top_animation 3s 300ms infinite;
}

#back-to-top {
  position: fixed;
  right: 20px;
  top: 90%;
  width: 45px;
  height: 45px;
  background-color: var(--blue);
}

@-webkit-keyframes back_to_top_animation {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  50% {
    -webkit-transform: translateY(15%);
    transform: translateY(15%);
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes back_to_top_animation {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  50% {
    -webkit-transform: translateY(15%);
    transform: translateY(15%);
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

/* find css */
.container_custom {
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.content-container {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.black-background {
  background-color: black;
  width: 100%;
  transition: background-color 0.3s ease;
}

.max_w_1060 {
  max-width: 1060px;
}

::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue) !important;
  border-radius: 50px !important;
}

.get-btn {
  background: transparent;
  border-radius: 24px;
  color: #4c57ff !important;
  padding: 6px 19px;
  border: 1px solid #4c57ff;
  transition: all 200ms linear;
}

.get-btn:hover {
  background: #4c57ff;
  color: white !important;
}

.commerce {
  width: 101px;
  height: 23px;
}

.get_btn_v2 {
  background: #4c57ff;
  border-radius: 24px;
  padding: 10px 49px;
  border: 1.5px solid #4c57ff;
  transition: all 200ms linear;
}

.mt_60 {
  margin-top: 60px !important;
}

.lh_157 {
  line-height: 157% !important;
}

.get_btn_v2:hover {
  background: #313df0;
  border-radius: 24px;
  padding: 10px 49px;
  border: 1.5px solid #4c57ff;
}

.mt_6 {
  margin-top: 6px;
}

.apply-btn {
  background: #4c57ff;
  border-radius: 24px;
  padding: 6px 19px;
  border: 1px solid #4c57ff;
  transition: all 200ms linear;
}

.apply-btn:hover {
  background: transparent;
  border-radius: 24px;
  color: #4c57ff !important;
  padding: 6px 19px;
  border: 1px solid #4c57ff;
}

.mt_-80 {
  margin-top: -80px !important;
}

.ml_168 {
  margin-left: 168px;
}

.mt_263 {
  margin-top: 263px;
}

.mt_20 {
  margin-top: 20px;
}

.max_w_1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.shopping-box {
  margin-top: -1px;
  padding-top: 46px;
  padding-bottom: 54px;
}

.shopping-box a {
  transition: all 0.3s ease-in-out;
}

.shopping-box a:hover {
  opacity: 0.7;
}

.gap_sm_52 {
  gap: 52px;
}

.max_w_revenue_content {
  max-width: 360px;
}

.max_w_355 {
  max-width: 355px;
}

.max_w_custom_analyzing_description {
  max-width: 350px;
}

.max_w_470 {
  max-width: 470px;
}

.max_w_400 {
  max-width: 400px;
}

.max_w_620 {
  max-width: 620px;
}

.mt_180 {
  margin-top: 180px;
}

.pb_62 {
  padding-bottom: 62px;
}

.card-img-1 {
  width: 180px;
  height: 171px;
}

.card-img-2 {
  margin-left: 73px;
  width: 146px;
  height: 73px;
}

.card-img-3 {
  margin-left: 450px;
  width: 113px;
  height: 73px;
}

.card-img-4 {
  margin-left: 141px;
  width: 191px;
  height: 54px;
}

/* .card-img-5 {
  margin-left: 317px;
  width: 115px;
  height: 40px;
} */
.card_prod_done,
.card_prod_start,
.card_prod_delay {
  margin-left: 317px;
  width: 115px;
  height: 40px;
}

.card_prod_delay {
  left: -115px;
  position: relative;
}

.card-img-6 {
  margin-left: 125px;
  width: 254px;
  height: 103px;
}

.card-img-7 {
  margin-left: 292px;
  width: 92px;
  height: 40px;
}

.card-img-8 {
  margin-left: 189px;
  width: 231px;
  height: 168px;
}

.color-dots {
  margin-bottom: -24px !important;
  margin-left: 50px;
}

.dot-1 {
  margin-left: 234px;
  position: relative;
}

.dot-2 {
  margin-left: 165px;
}

.dot-3 {
  margin-left: 66px;
}

.dot-4 {
  margin-left: 363px;
}

.dot-5 {
  margin-left: 170px;
}

.dot-6 {
  margin-left: 132px;
}

.dot-7 {
  margin-left: 256px;
}

.dot-8 {
  left: -708px;
}

.bg-line {
  min-width: 2540px;
  margin-left: 54px;
}

.pt_66 {
  padding-top: 60px;
}

.blur-card {
  max-width: 365px;
}

.blur-position {
  top: 280px;
  right: 35px;
}

.custom_spacing_study_box {
  padding-top: 120px;
  padding-bottom: 122px;
}

.study-img {
  width: 480px;
  max-height: 320px;
  object-fit: cover;
}

.study-img-2 {
  width: 480px;
  max-height: 320px;
  object-fit: cover;
}

.revenue_cards_custom_gap {
  gap: 100px;
}

.black_circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #0e1122;
}

.header-img {
  height: 100vh !important;
  min-height: 750px !important;
  object-fit: cover;
}

.blur-card-1 {
  /* max-width: 218px; */
  top: 20%;
  left: -20%;
}

.blur-card-2 {
  /* max-width: 302px; */
  top: -8%;
  right: -20%;
}

.mt_funded_card_custom {
  margin-top: 180px;
}

.mt_164 {
  margin-top: 164px;
}

.mt_84_below_md {
  margin-top: 0px;
}

.mt_121 {
  margin-top: 121px;
}

.mt_54 {
  margin-top: 0px;
}

.mt_67 {
  margin-top: 0px;
}

.lh_106 {
  line-height: 106%;
}

.accordion-item {
  border: 0 !important;
}

.study_img_overflow {
  overflow: hidden;
}

.slider_parent {
  padding-bottom: 100px;
}

@media (max-width: 1279.98px) {
  .blur-card-1 {
    top: -17%;
    left: -9%;
  }

  .blur-card-2 {
    right: -12%;
  }
}

@media (max-width: 1199.98px) {
  .study-img {
    width: 387px;
    max-height: 258px;
    border-radius: 40px;
  }

  .study-img-2 {
    width: 387px;
    max-height: 258px;
    border-radius: 40px;
  }
}

@media (max-width: 1024.98px) {
  .mt_263 {
    margin-top: 200px;
  }

  .blur-position {
    top: 142px;
    right: 35px;
  }

  /* .blur-card-1 {
    top: -17%;
    left: 0%;
    width: 150px;
  } */
}

@media (max-width: 991.98px) {
  .custom_spacing_study_box {
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .slider_parent {
    padding-bottom: 72px;
  }

  .ml_168 {
    margin-left: 38px;
  }

  .mt_263 {
    margin-top: 280px !important;
  }

  .blur-position {
    top: 170px;
    right: 0px !important;
  }

  .blur-card {
    max-width: 305px;
  }

  .revenue_cards_custom_gap {
    gap: 50px;
  }

  .blur-card-2 {
    right: 0%;
  }
}

@media (max-width: 767.98px) {
  .study_img_overflow {
    overflow: unset;
  }

  .my_n_18_below_md {
    margin-top: -18px;
    margin-bottom: -18px;
  }

  .custom_spacing_study_box {
    padding-top: 100px;
  }

  .get_btn_v2 {
    padding: 10px 24px;
  }

  .get_btn_v2:hover {
    padding: 10px 24px !important;
  }

  .mx_slider_custom {
    margin-left: 20px;
    margin-right: 20px;
  }

  .blur-card-1 {
    /* max-width: 175px; */
    top: -12%;
    left: -7%;
  }

  .revenue_cards_custom_gap {
    gap: 0px;
  }

  .blur-card-2 {
    /* max-width: 230px; */
    top: -5%;
  }

  .blur-card {
    max-width: 180px;
  }

  .mt_funded_card_custom {
    margin-top: 100px;
  }

  .mt_164 {
    margin-top: 100px;
  }

  .mt_84_below_md {
    margin-top: 84px;
  }

  .mt_54 {
    margin-top: 54px;
  }

  .mt_67 {
    margin-top: 67px;
  }

  .mt_263 {
    margin-top: 369px !important;
  }
}

@media (max-width: 575.98px) {
  .custom_spacing_study_box {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .max_w_custom_analyzing_description {
    max-width: 306px;
  }

  .max_w_revenue_content {
    max-width: 305px;
  }

  .slick-slide {
    opacity: 0 !important;
    transition: all 600ms ease-in-out !important;
  }

  .slick-current {
    opacity: 1 !important;
    transition: all 600ms ease-in-out !important;
  }

  .fw_normal_mobile {
    font-weight: 400 !important;
  }

  .text_xs_mobile {
    font-size: 12px;
  }

  .study-img {
    transform: translateX(80px) !important;
    width: 411px !important;
  }

  .study-img-2 {
    transform: translateX(-92px);
  }

  .image_zoom_hover {
    border-radius: 0px !important;
  }

  /* .image_zoom_hover:hover img {
    transform: unset !important;
  } */

  .rating_icon {
    width: 55px;
    height: 20px;
  }

  .trustpilot_icon {
    width: 89px;
    height: 21px;
  }

  .ml_168 {
    margin-left: 16px !important;
  }

  .blur-card-1 {
    /* max-width: 175px; */
    top: -10%;
    left: 9% !important;
  }

  .blur-card-2 {
    right: 10%;
  }

  .shopping-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #centermode .slick-dots {
    bottom: -20px !important;
  }

  .slider_content {
    min-height: 280px !important;
  }

  .gap_sm_52 {
    gap: 0px;
  }

  .max_w_290 {
    max-width: 290px;
  }

  .w_full_mobile {
    width: 100%;
  }

  .mt_30_mobile {
    margin-top: 30px;
  }

  .mt_44_mobile {
    margin-top: 44px;
  }
}

@media (max-width: 390.98px) {
  .fs_xxs {
    font-size: 12px !important;
  }

  .fs_clasic {
    font-size: 16px !important;
  }

  .fs_render {
    font-size: 18px !important;
  }

  .image_zoom_hover .study-img {
    transform: translateX(45px) !important;
  }

  .image_zoom_hover .study-img-2 {
    transform: translateX(-32px);
    max-height: 270px !important;
  }
}

@media (max-width: 360px) {
  #community .slick-track .slick-slide {
    transform: scale(0.9) !important;
  }
}

/* dev css */

.custon_container {
  max-width: 1264px;
}

.logo_img {
  width: 69px;
  height: 43.43px;
}

.gap_36 {
  gap: 36px !important;
}

.coman_btn {
  transition: all 300ms ease-in-out;
  border: 1px transparent;
  border-radius: 24px;
  padding: 7px 48px 13px 48px;
}

.coman_btn:hover {
  background: #000;
}

/* accordian */
.accordion-button.collapsed::after {
  background-image: url("../images/svg/cross.svg") !important;
  transform: rotate(45deg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/svg/cross.svg") !important;
  transform: none !important;
}

.accordion-button:not(.collapsed) {
  border-bottom: 1px solid #dddddf !important;
  color: black !important;
  margin-bottom: 10px !important;
}

.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  background-color: #efece6 !important;
  border-bottom: 1px solid #dddddf !important;
  font-size: 18px !important;
  padding: 20px !important;
}

.accordion-body {
  padding: 0px 16px 20px 20px !important;
  max-width: 1030px;
  background-color: #efece6 !important;
  border-bottom: 1px solid #dddddf !important;
  font-size: 18px !important;
  color: #0e1122 !important;
}

.max-w-438 {
  max-width: 438px;
}

.eligible_card {
  padding: 40px 22px;
}

.fw_sm_normal {
  font-weight: normal !important;
}

.dots {
  height: 7px;
  width: 7px;
  border-radius: 100px;
}

.benfit_card_bg3 {
  padding: 6px 10px;
  margin-top: 42px;
  background: #3c3f4e;
  border-radius: 24px;
}

.benfit_card_bg {
  background: #3c3f4e;
  border-radius: 16px;
}

.equlity_svg {
  margin-top: -6px;
}

/* .manufacturing_svg {
  margin-right: 8px;
} */

.benfit_card_bg4 {
  width: 95px;
  height: 84px;
  margin-top: 24px;
  background: #3c3f4e;
  border-radius: 16px;
}

.benifit_card_1 {
  margin-top: 42px;
  width: 122px;
  height: 84px;
}

.benifits_container {
  max-width: 1236px;
}

.benifit_card_2 {
  width: 205px;
  height: 79px;
}

.line {
  width: 162px;
  height: 10px;
  border-radius: 120px;
  background: #616372;
}

.line_white_circle {
  position: absolute;
  top: -69%;
  left: 34%;
  border-radius: 120px;
  background: white;
  width: 24px;
  height: 24px;
}

.line_white_blue {
  border-radius: 120px;
  height: 10px;
  width: 10px;
  background: #4c57ff;
}

.toltip {
  position: absolute;
  left: 16%;
  top: -42%;
}

.dot_1 {
  background-color: #aaacb8;
}

.dot_3 {
  background-color: #616371;
}

.dot_2 {
  background-color: #858895;
}

.girl_ellips {
  position: absolute;
  left: -24%;
  top: 14%;
}

.tik_vector {
  position: absolute;
  right: -14%;
  top: 28%;
  height: 36px;
  width: 36px;
  border-radius: 52px;
  background: #4c4f5d;
}

.seller_women {
  border-radius: 20px;
  object-fit: cover;
  max-width: 440px;
}

.fotter_icons {
  transition: all 300ms ease-in-out;
}

.fotter_icons:hover {
  transform: translateY(-6px);
}

.footer_padding {
  padding: 64px 52px;
}

.max_w_572 {
  max-width: 572px;
}

.scale_12 {
  scale: 1.2;
}

/* BLUR CARDS CSS CODE HERE============================================= */
.blur_box_bg {
  background-color: rgba(222, 222, 222, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.blur_card_small {
  background-color: rgba(243, 245, 255, 0.22);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.cash_flow_box {
  width: 235px;
  height: 165px;
  padding: 20px 24px;
  border-radius: 32px;
}

.cash_flow_box h2 {
  color: #56565d;
  margin-bottom: 18px;
}

.revenue_box {
  width: 218px;
  height: 171px;
  padding: 18px;
  border-radius: 20px;
}

.revenue_box h2 {
  color: #56565d;
  margin-bottom: 6px;
  letter-spacing: 2px;
  max-width: 158px;
}

.funded_blur_card_content {
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 26px;
  padding: 1px 8px;
  font-size: 10.49px;
  border: none;
  color: #333645;
}

.funded_blur_card h2 {
  font-size: 15.73px;
}

.funded_blur_card {
  padding: 13px 14px;
  border-radius: 21px;
  gap: 11px;
}

.shipping_card {
  max-width: 229px;
  transform: translateX(-35px);
}

.hero_blur_card {
  background-color: #d7d9e031;
  width: 248px;
  height: 156px;
  padding: 12px 7px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.blur_card {
  width: 160px;
  height: 75px;
  padding: 12px;
  border-radius: 12px;
  top: -42px;
  left: -58px;
}

.forecasted_card_parent {
  width: 175px;
  height: 78px;
  padding: 12px;
  border-radius: 12px;
  top: unset !important;
  left: unset !important;
  bottom: -19px;
  right: -38px;
}

.blur_card div h2 {
  font-size: 28px;
}

.blur_card_title {
  color: #f2f2f3;
}

.sales_card_parent {
  background-color: rgba(243, 245, 255, 0.22);
  width: 250px;
  height: 100px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  margin-top: 29px;
  padding: 12px 12px 15px 12px;
  transform: translateX(-80px);
}

.sales_card_parent div h2 {
  letter-spacing: 2px;
}

.gradient_line {
  background: linear-gradient(291.92deg, #f99f55 25.32%, #4c57ff 80.04%);
  width: 100%;
  height: 1.5px;
  margin-top: 11px;
}

.blur_card_parent {
  right: -17px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 1200px) {
  .cash_flow_box {
    top: -24px;
    left: -60px;
  }
}

@media (max-width: 1379.98px) {
  .blur_card_parent {
    right: 75px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 1199.98px) {
  .blur-card-1 {
    left: 0 !important;
  }

  .revenue_box {
    width: 180px;
    height: 130px;
  }

  .cash_flow_box {
    /* width: 220px; */
    height: 160px;
  }
}

@media (max-width: 991.98px) {
  .footer_padding {
    padding: 52px;
  }

  .blur_card_parent {
    right: 25px;
    scale: 0.8;
  }
}

@media (max-width: 767.98px) {
  .cash_flow_box {
    width: 205px;
    height: 143px;
    padding: 17px 20px;
    border-radius: 27px;
  }

  .cash_flow_box h2 {
    font-size: 12px !important;
    margin-bottom: 12px;
  }

  .revenue_box {
    width: 175px !important;
    height: 139px !important;
    padding: 15px;
    border-radius: 16px;
  }

  .revenue_box h2 {
    font-size: 12px !important;
    max-width: 128px;
  }

  .shipping_card {
    max-width: 181px;
    transform: translateX(-27px);
  }

  .funded_blur_card {
    gap: 8px;
    padding: 10px;
  }

  .funded_blur_card h2 {
    font-size: 12px !important;
  }

  .funded_blur_card_content {
    font-size: 8px;
  }

  .blur_card_parent {
    right: -108px;
    top: 35%;
    scale: 1;
  }

  .blur_card {
    top: 109px;
  }

  .blur-card-1 {
    left: -15% !important;
  }
}

@media (max-width: 575.98px) {
  .blur-card-1 {
    left: 7% !important;
    top: -18% !important;
  }
}

@media (max-width: 374.98px) {
  .blur-card-1 {
    left: 13% !important;
  }
}

/*   ------------------------------ slider --------------- */
.slider_content {
  max-width: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 399px;
  max-height: 344px;
  opacity: 0;
}

.slick-dots li button:before {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  font-size: 8px !important;
  height: 100%;
  width: 100%;
}

.slick-dots li {
  height: 8px !important;
  width: 8px !important;
  margin: 0 !important;
}

.slick-dots li button {
  padding: 0 !important;
  height: 100%;
  width: 100%;
}

/* .swiper-slide {
  text-align: center;
} */

.swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.pagination {
  position: relative;
  top: 15px !important;
}

.swiper-button-next {
  margin-right: 40px !important;
}

.swiper-button-prev {
  margin-left: 40px !important;
}

.swiper-pagination-bullet {
  background: #000 !important;
  margin: 1.5px !important;
  height: 6px !important;
  width: 6px !important;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
  opacity: 0.75 !important;
}

/* .slider_img_radius {
  margin-top: 25px;
  width: 208px;
  height: 294px;
  border-radius: 40px;
} */

.slider_para_w {
  max-width: 280px;
}

.slider_content .slider_content_data {
  opacity: 0;
}

.px_apply_btn {
  border: 1px solid transparent !important;
  padding: 3.3px 9.5px !important;
}

.px_apply_btn:hover {
  color: #4c57ff !important;
  background-color: transparent !important;
  border: 1px solid #4c57ff !important;
}

/* .slick-current .slider_content .slider_content_data {
  transition: all 0.5s ease-out;
  transition-delay: 0.3s;
  opacity: 100%;
} */

.slick-current ~ div,
.slide_add ~ div {
  border-radius: 40px;
}

#centermode.slick-current img,
#centermode.slide_add img {
  width: 250px !important;
  transition: all 0.3s ease-in-out;
}

/* .slick-current .slider_img_radius,
.slide_add .slider_img_radius {
  margin-top: 0px;
  height: 344px;
  width: 223px;
  border-radius: 0px;
  z-index: 2;
} */

.background_blur_header {
  background-color: #efece6;
  box-shadow: 0px 4px 20px 0px #0e11220f;
}

.lh-133 {
  line-height: 133% !important;
}

.lh_136 {
  line-height: 136%;
}

.manufacturing_btn {
  transform: translateX(50px);
}

.manufacturing_smal_btn {
  padding: 3.5px 8px;
}

.mt_10 {
  margin-top: 10px;
}

.slider_bttns {
  left: 50%;
  transform: translate(-50%);
  bottom: -9px;
  z-index: 1;
}

#slick-slide03 {
  max-width: 200px;
  transition: all 600ms ease-in-out !important;
}

@media (max-width: 767.9px) {
  .slider_content {
    max-width: 400px !important;
  }

  .manufacturing_btn {
    transform: translateX(20px);
  }

  .manufacturing_btn2 {
    transform: translateX(-25px);
  }

  .slider_content {
    opacity: 100% !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 318px !important;
    min-height: 300px;
    padding: 20px !important;
  }

  #centermode.slick-current img,
  #centermode.slide_add img {
    width: 320px !important;
  }

  .slick-current,
  .slide_add {
    min-width: 300px;
  }
}

@media (max-width: 576px) {
  .faq_heading_width {
    max-width: 240px;
  }

  .benifit_card_1 {
    margin-top: 24px;
  }

  .slider_bttns {
    bottom: -21px;
  }

  .slick-current,
  .slide_add {
    padding-left: 0px;
    padding-right: 0px;
  }

  .fw_sm_normal {
    font-weight: 500 !important;
  }

  .eligible_card {
    padding: 20px 3px;
  }

  .max-w-438 {
    max-width: 438px;
  }

  .lh_166 {
    line-height: 166%;
  }

  .seller_women {
    width: 417px;
    height: 278px;
    transform: translateX(-18%);
  }

  .facebook_icon {
    width: 9px;
    height: 17px;
  }

  .instagram_icon {
    width: 17px;
    height: 17px;
  }

  .linkdin_icon {
    width: 20px;
    height: 19px;
  }

  .twiter_icon {
    width: 18px;
    height: 15px;
  }

  .footer_padding {
    padding: 40px 34px 20px;
  }

  .gap_36 {
    gap: 23px !important;
  }
}

/* .slick-track {
  width: 2060px !important;
} */
.hover_slider_btn {
  width: 30px !important;
  height: 30px !important;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 0 #000;
  transition: all 100ms ease-in-out;
}

.rotate_180 {
  transform: rotate(180deg);
}

.hover_slider_btn:hover {
  box-shadow: inset 0 0 30px 0 #4c57ff;
}

.background_blur_header .path_fill {
  fill: black;
}

@media (min-width: 768px) {
  #centermode [aria-hidden="true"] {
    display: none !important;
  }

  #centermode .slick-track [aria-hidden="false"] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .image_zoom_hover {
    border-radius: 40px;
  }

  .image_zoom_hover:hover img {
    transform: scale(1.06);
  }

  .slick-dotted.slick-slider {
    margin-bottom: 48px !important;
  }

  .slick-current > div .slider_content,
  .slide_add > div .slider_content {
    padding: 40px !important;
    z-index: 2;
    max-width: 600px !important;
    transition: all 150ms linear;
    width: 100%;
  }

  .slider_content {
    transform: translateX(80%) scale(0.7) !important;
    opacity: 0 !important;
    transition: opacity 1000ms ease, transform 1000ms ease !important;
  }

  .slick-current .slider_content,
  .slide_add .slider_content {
    transform: translateX(0px) scale(1) !important;
    transition: opacity 500ms ease, transform 500ms ease !important;
    opacity: 1 !important;
  }

  .mx_slider_custom {
    transition: all 0.3s ease-in-out;
  }

  #centermode .slick-slide {
    width: 208px !important;
  }

  #centermode .slick-current,
  #centermode .slide_add {
    min-width: 630px;
  }

  #community .slick-track .slick-active {
    transform: scale(0.8) translateY(1%);
    z-index: 8;
    position: relative;
    justify-content: flex-start !important;
  }

  #community .slick-track .slick-active + .slick-active {
    transform: scale(0.7) translateX(-6%);
    z-index: 8;
    position: relative;
  }

  #community .slick-track .slick-active + .slick-active + .slick-active {
    transform: scale(1);
    z-index: 10;
    position: relative;
    display: block;
  }

  #community
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(1) translateX(6%);
    z-index: 8;
    position: relative;
  }

  #community
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.8);
    z-index: 6;
    position: relative;
    display: flex;
  }

  #community
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.8);
    z-index: 6;
    position: relative;
  }

  #community
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.7);
    z-index: 6;
    position: relative;
  }
}

@media (min-width: 992px) {
  #community .slick-track .slick-active + .slick-active {
    transform: scale(1) translateX(-6%);
    z-index: 8;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .slider_bttns {
    bottom: -30px;
  }

  .slick-dots {
    bottom: -18px !important;
  }
}

@media (min-width: 1536px) {
  .slick-track {
    width: 5660px !important;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 48px !important;
  }

  .slick-current > div .slider_content,
  .slide_add .slider_content {
    padding: 40px !important;
    z-index: 2;
    max-width: 600px !important;
    transition: all 150ms linear;
    width: 100%;
  }

  #centermode .slick-slide {
    width: 230px !important;
  }

  #centermode .slick-current,
  #centermode .slide_add {
    min-width: 655px;
  }

  .slick-current > div .slider_content,
  .slide_add > div .slider_content {
    padding: 40px !important;
    z-index: 2;
    max-width: 600px !important;
    transition: all 150ms linear;
  }

  #community .slick-track .slick-active {
    transform: scale(0.8) translateY(1%);
    z-index: 8;
    position: relative;
    justify-content: flex-start !important;
  }

  #community .slick-track .slick-active + .slick-active {
    transform: scale(1) translateX(-6%);
    z-index: 8;
    position: relative;
  }

  #community .slick-track .slick-active + .slick-active + .slick-active {
    transform: scale(1);
    z-index: 10;
    position: relative;
    display: block;
  }

  #community
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(1) translateX(6%);
    z-index: 8;
    position: relative;
  }

  #community
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.8);
    z-index: 6;
    position: relative;
    display: flex;
  }

  #community
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.8);
    z-index: 6;
    position: relative;
  }

  #community
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.7);
    z-index: 6;
    position: relative;
  }
}

/* new  animation  */
.animate_garident {
  left: -807px;
  height: 15px;
}

.animate_garident_second {
  left: -1000px;
  height: 15px;
  z-index: -1;
}

.animate_garident_third {
  left: -750px;
  height: 15px;
  z-index: -1;
}

.slick-center {
  transition: all 0.5s ease-in-out;
  scale: 1;
}
