/* HERO CSS START HERE */
.container_custom_hero {
  max-width: 1240px;
}

.hero_video_parent {
  height: 100vh !important;
  object-fit: cover;
}

.w_hero_title {
  max-width: 470px;
  font-family: font-abril-bold;
}

.w_hero_description {
  max-width: 400px;
}

/* BACK TO TOP CSS HERE */
.back_to_top_arrow_size {
  max-width: 40px !important;
}

.back_to_top_arrow_size path {
  fill: #fff;
}

.back_to_top_hover:hover {
  -webkit-box-shadow: 0px 0px 20px 0px #4c57ff !important;
  box-shadow: 0px 0px 20px 0px #4c57ff !important;
}

.back_to_top_animation {
  -webkit-animation: back_to_top_animation 3s 300ms infinite;
  animation: back_to_top_animation 3s 300ms infinite;
}

#back-to-top {
  position: fixed;
  right: 20px;
  top: 90%;
  width: 45px;
  height: 45px;
  background-color: var(--blue);
}

/* find css */
.container_custom {
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.content_container {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.cards_section_width {
  max-width: 1060px;
}

.get_btn {
  background: transparent;
  border-radius: 24px;
  color: #4c57ff !important;
  padding: 6px 19px;
  border: 1px solid #4c57ff;
  transition: all 200ms linear;
}

.get_btn:hover {
  background: #4c57ff;
  color: white !important;
}

.commerce_image {
  width: 101px;
  height: 23px;
}

.get_btn_v2 {
  background: #4c57ff;
  border-radius: 24px;
  padding: 10px 49px;
  border: 1.5px solid #4c57ff;
  transition: all 200ms linear;
}

.eligible_heading_space {
  margin-top: 60px !important;
}

.get_btn_v2:hover {
  background: #313df0;
  border-radius: 24px;
  padding: 10px 49px;
  border: 1.5px solid #4c57ff;
}

.cards_number_top_mt {
  margin-top: 6px;
}

.apply_btn {
  background: #4c57ff;
  border-radius: 24px;
  padding: 6px 19px;
  border: 1px solid #4c57ff;
  transition: all 200ms linear;
}

.apply_btn:hover {
  background: transparent;
  border-radius: 24px;
  color: #4c57ff !important;
  padding: 6px 19px;
  border: 1px solid #4c57ff;
}

.cards_btn_top_space {
  margin-top: 20px;
}

.section_custom_width {
  max-width: 1440px;
  margin: auto;
}

.shopping_box {
  margin-top: -1px;
  padding-top: 46px;
  padding-bottom: 54px;
}

.shopping_box a {
  transition: all 0.3s ease-in-out;
}

.shopping_box a:hover {
  opacity: 0.7;
}

.gap_sm_52 {
  gap: 52px;
}

.max_w_revenue_content {
  max-width: 360px;
}

.card_one_para_width {
  max-width: 355px;
}

.max_w_custom_analyzing_description {
  max-width: 350px;
}

.works_text_width {
  max-width: 620px;
}

.works_top_padding {
  padding-top: 60px;
}

.blur_card {
  max-width: 365px;
}

.custom_spacing_study_box {
  padding-top: 120px;
  padding-bottom: 122px;
}

.study_img {
  width: 480px;
  max-height: 320px;
  object-fit: cover;
}

.study_img_2 {
  width: 480px;
  max-height: 320px;
  object-fit: cover;
}

.revenue_cards_custom_gap {
  gap: 100px;
}

.black_circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #0e1122;
}

.blur_card_1 {
  top: 20%;
  left: -20%;
}

.blur_card_2 {
  top: -8%;
  right: -20%;
}

.mt_funded_card_custom {
  margin-top: 180px;
}

.third_card_top_space {
  margin-top: 164px;
}

.mt_84_below_md {
  margin-top: 0px;
}

.lottie_top_space {
  margin-top: 121px;
}

.card_two_top_space {
  margin-top: 0px;
}

.card_three_top_space {
  margin-top: 0px;
}

.accordion-item {
  border: 0 !important;
}

.study_img_overflow {
  overflow: hidden;
}

.slider_parent {
  padding-bottom: 100px;
}

.hide_back_to_top {
  top: 110% !important;
}

/* dev css */
.custom_container {
  max-width: 1264px;
}

.logo_img {
  width: 69px;
  height: 43.43px;
}

.gap_36 {
  gap: 36px !important;
}

/* accordian */
.accordion-button.collapsed::after {
  background-image: url("../images/svg/cross.svg") !important;
  transform: rotate(45deg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/svg/cross.svg") !important;
  transform: none !important;
}

.accordion-button:not(.collapsed) {
  border-bottom: 1px solid #dddddf !important;
  color: black !important;
  margin-bottom: 10px !important;
}

.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  background-color: #efece6 !important;
  border-bottom: 1px solid #dddddf !important;
  font-size: 18px !important;
  padding: 20px !important;
}

.accordion-body {
  padding: 0px 16px 20px 20px !important;
  max-width: 1030px;
  background-color: #efece6 !important;
  border-bottom: 1px solid #dddddf !important;
  font-size: 18px !important;
  color: #0e1122 !important;
}

.text_custom_width {
  max-width: 438px;
}

.eligible_card {
  padding: 40px 22px;
}

.fw_sm_normal {
  font-weight: normal !important;
}

.dots {
  height: 7px;
  width: 7px;
  border-radius: 100px;
}

.benefit_card_bg3 {
  padding: 6px 10px;
  margin-top: 42px;
  background: #3c3f4e;
  border-radius: 24px;
}

.benefit_card_bg {
  background: #3c3f4e;
  border-radius: 16px;
}

.equlity_svg {
  margin-top: -6px;
}

.benefit_card_bg4 {
  width: 95px;
  height: 84px;
  margin-top: 24px;
  background: #3c3f4e;
  border-radius: 16px;
}

.benefit_card_1 {
  margin-top: 42px;
  width: 122px;
  height: 84px;
}

.benefits_container {
  max-width: 1236px;
}

.benefit_card_2 {
  width: 205px;
  height: 79px;
}

.line {
  width: 162px;
  height: 10px;
  border-radius: 120px;
  background: #616372;
}

.line_white_circle {
  position: absolute;
  top: -69%;
  left: 34%;
  border-radius: 120px;
  background: white;
  width: 24px;
  height: 24px;
}

.line_white_blue {
  border-radius: 120px;
  height: 10px;
  width: 10px;
  background: #4c57ff;
}

.tool_tip {
  position: absolute;
  left: 16%;
  top: -42%;
}

.dots.grey_dot_1 {
  background-color: #aaacb8;
}

.dots.grey_dot_3 {
  background-color: #616371;
}

.dots.grey_dot_2 {
  background-color: #858895;
}

.girl_ellips {
  position: absolute;
  left: -24%;
  top: 14%;
}

.tik_vector {
  position: absolute;
  right: -14%;
  top: 28%;
  height: 36px;
  width: 36px;
  border-radius: 52px;
  background: #4c4f5d;
}

.women_with_cup {
  border-radius: 20px;
  object-fit: cover;
  max-width: 440px;
}

.fotter_icons {
  transition: all 300ms ease-in-out;
}

.fotter_icons:hover {
  transform: translateY(-6px);
}

.footer_padding {
  padding: 64px 52px;
}

.join_text_width {
  max-width: 572px;
}

.scale_12 {
  scale: 1.2;
}

/* BLUR CARDS CSS CODE HERE============================================= */
.blur_box_bg {
  background-color: rgba(222, 222, 222, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.blur_card_small {
  background-color: rgba(243, 245, 255, 0.22);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.cash_flow_box {
  width: 235px;
  height: 165px;
  padding: 20px 24px;
  border-radius: 32px;
}

.cash_flow_box h2 {
  color: #56565d;
  margin-bottom: 18px;
}

.revenue_box {
  width: 218px;
  height: 171px;
  padding: 18px;
  border-radius: 20px;
}

.revenue_box h2 {
  color: #56565d;
  margin-bottom: 6px;
  letter-spacing: 2px;
  max-width: 158px;
}

.funded_blur_card_content {
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 26px;
  padding: 1px 8px;
  font-size: 10.49px;
  border: none;
  color: #333645;
}

.funded_blur_card h2 {
  font-size: 15.73px;
}

.funded_blur_card {
  padding: 13px 14px;
  border-radius: 21px;
  gap: 11px;
}

.shipping_card {
  max-width: 229px;
  transform: translateX(-35px);
}

.hero_blur_card {
  background-color: #d7d9e031;
  width: 248px;
  height: 156px;
  padding: 12px 7px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.blur_card {
  width: 160px;
  height: 75px;
  padding: 12px;
  border-radius: 12px;
  top: -42px;
  left: -58px;
}

.forecasted_card_parent {
  width: 175px;
  height: 78px;
  padding: 12px;
  border-radius: 12px;
  top: unset !important;
  left: unset !important;
  bottom: -19px;
  right: -38px;
}

.blur_card div h2 {
  font-size: 28px;
}

.blur_card_title {
  color: #f2f2f3;
}

.sales_card_parent {
  background-color: rgba(243, 245, 255, 0.22);
  width: 250px;
  height: 100px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  margin-top: 29px;
  padding: 12px 12px 15px 12px;
  transform: translateX(-80px);
}

.sales_card_parent div h2 {
  letter-spacing: 2px;
}

.gradient_line {
  background: linear-gradient(291.92deg, #f99f55 25.32%, #4c57ff 80.04%);
  width: 100%;
  height: 1.5px;
  margin-top: 11px;
}

.blur_card_parent {
  right: -17px;
  top: 50%;
  transform: translateY(-50%);
}

/* ------------------------------ slider --------------- */
.card_parent {
  justify-content: center;
}

.swiper-slide-active .content_box {
  width: auto;
}

.swiper-slide-active {
  width: 100% !important;
}

.swiper-slide {
  display: flex;
  place-items: center;
  width: 230px;
  height: 444px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

.card_parent .img_parent img {
  min-width: 318px;
  height: 162px;
}

.content_box .card_val {
  padding: 22px;
  width: 318px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}

.content_box,
.content_box .card_val,
.card_parent {
  height: 100% !important;
}

.swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.pagination {
  position: relative;
  top: 15px !important;
}

.swiper-button-next {
  margin-right: 40px !important;
}

.swiper-button-prev {
  margin-left: 40px !important;
}

.swiper-pagination-bullet {
  background: #000 !important;
  margin: 1.5px !important;
  height: 6px !important;
  width: 6px !important;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
  opacity: 0.75 !important;
}

.slider_para_w {
  max-width: 280px;
}

.px_apply_btn {
  border: 1px solid transparent !important;
  padding: 3.3px 9.5px !important;
}

.px_apply_btn:hover {
  color: #4c57ff !important;
  background-color: transparent !important;
  border: 1px solid #4c57ff !important;
}

.background_blur_header {
  background-color: #efece6;
  box-shadow: 0px 4px 20px 0px #0e11220f;
}

.manufacturing_btn {
  transform: translateX(50px);
}

.manufacturing_smal_btn {
  padding: 3.5px 8px;
}

.rating_text_top_space {
  margin-top: 10px;
}

.slider_bttns {
  left: 50%;
  transform: translate(-50%);
  bottom: -9px;
  z-index: 1;
}

.hover_slider_btn {
  width: 30px !important;
  height: 30px !important;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 0 #000;
  transition: all 100ms ease-in-out;
}

.rotate_180 {
  transform: rotate(180deg);
}

.hover_slider_btn:hover {
  box-shadow: inset 0 0 30px 0 #4c57ff;
}

.background_blur_header .path_fill {
  fill: black;
}

/* new  animation  */
.animate_garident {
  left: -807px;
  height: 15px;
}

.animate_garident_second {
  left: -1000px;
  height: 15px;
  z-index: -1;
}

.animate_garident_third {
  left: -750px;
  height: 15px;
  z-index: -1;
}
