@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif !important;
}
@font-face {
  font-family: "font-abril-semibold";
  src: url("../font/Abril_Display/Abril_Display_SemiBold.otf");
}
.font-abril-semibold {
  font-family: "font-abril-semibold", sans-serif;
}

@font-face {
  font-family: "font-abril-bold";
  src: url(../font/Abril_Display/Abril_Display_Bold.otf);
}
.font-abril-bold {
  font-family: "font-abril-bold", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

#myBtn {
  display: none;
  border: none;
  width: 50px;
  height: 50px; /* Initially hide the button */
  position: fixed; /* Fixed position ensures it stays in one place as the user scrolls */
  bottom: 20px; /* Adjust this value to position the button vertically */
  right: 30px; /* Adjust this value to position the button horizontally */
  z-index: 99;
  background-color: #4c57ff !important;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  animation-duration: 300ms;
  animation: spin 2s linear infinite;
  transition: all 300ms linear;
}
@keyframes spin {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* find css */
.my-container {
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
body {
  margin: 0;
  padding: 0;
  background-color: transparent; /* Make body background transparent */
}

.content-container {
  background-color: transparent; /* Set background color for content container */
  transition: background-color 0.3s ease; /* Add transition effect for smooth color change */
}

.black-background {
  background-color: black;
  width: 100%; /* Change background color for content container to black */
  transition: background-color 0.3s ease; /* Add transition effect for smooth color change */
}
.max_w_1060 {
  max-width: 1060px;
}
::-webkit-scrollbar {
  display: none !important ;
}
.get-btn {
  background: transparent;
  border-radius: 24px;
  color: #4c57ff !important;
  padding: 6px 19px;
  border: none;
  border: 1px solid #4c57ff;
  transition: all 300ms linear;
}
.get-btn:hover {
  background: #4c57ff;
  border-radius: 24px;
  color: white !important;
  padding: 6px 19px;
  border: none;
  border: 1px solid #4c57ff;
}
.get-btn2 {
  background: #4c57ff;
  border-radius: 24px;
  padding: 10px 49px;
  border: none;
  border: 1px solid #4c57ff;
  transition: all 300ms linear;
}
.get-btn2:hover {
  background: transparent;
  border-radius: 24px;
  color: #4c57ff !important;
  padding: 10px 49px;
  border: none;
  border: 1px solid #4c57ff;
}
.mt_6 {
  margin-top: 6px;
}
.apply-btn {
  background: #4c57ff;
  border-radius: 24px;
  padding: 6px 19px;
  border: none;
  border: 1px solid #4c57ff;
  transition: all 300ms linear;
}
.apply-btn:hover {
  background: transparent;
  border-radius: 24px;
  color: #4c57ff !important;
  padding: 6px 19px;
  border: none;
  border: 1px solid #4c57ff;
}
.mt_-80 {
  margin-top: -80px !important;
}
.ml_168 {
  margin-left: 168px;
}
.mt_263 {
  margin-top: 263px;
}
.mt_20 {
  margin-top: 20px;
}
.max_w_1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.shopping-box {
  padding-top: 46px;
  padding-bottom: 54px;
}
.gap_52 {
  gap: 52px;
}
.max_w_360 {
  max-width: 360px;
}
.max_w_355 {
  max-width: 355px;
}
.max_w_350 {
  max-width: 350px;
}
.max_w_470 {
  max-width: 470px;
}
.max_w_400 {
  max-width: 400px;
}
.max_w_620 {
  max-width: 620px;
}
.mt_180 {
  margin-top: 180px;
}
.pb_62 {
  padding-bottom: 62px;
}
.card-img-1 {
  width: 180px;
  height: 171px;
}
.card-img-2 {
  margin-left: 73px;
  width: 146px;
  height: 73px;
}
.card-img-3 {
  margin-left: 450px;
  width: 113px;
  height: 73px;
}
.card-img-4 {
  margin-left: 141px;
  width: 191px;
  height: 54px;
}
.card-img-5 {
  margin-left: 555px;
  width: 115px;
  height: 40px;
}
.card-img-6 {
  margin-left: 125px;
  width: 254px;
  height: 103px;
}
.card-img-7 {
  margin-left: 292px;
  width: 92px;
  height: 40px;
}
.card-img-8 {
  margin-left: 189px;
  width: 231px;
  height: 168px;
}
.color-dots {
  margin-bottom: -24px !important;
  margin-left: 50px;
}
.dot-1 {
  margin-left: 234px;
  position: relative;
}
.dot-2 {
  margin-left: 165px;
}
.dot-3 {
  margin-left: 66px;
}
.dot-4 {
  margin-left: 363px;
}
.dot-5 {
  margin-left: 170px;
}
.dot-6 {
  margin-left: 132px;
}
.dot-7 {
  margin-left: 256px;
}
.dot-8 {
  margin-left: 112px;
}
.bg-line {
  min-width: 1840px;
  margin-left: 54px;
}
.pt_66 {
  padding-top: 66px;
}
.blur-card {
  max-width: 365px;
}
.blur-position {
  top: 280px;
  right: 35px;
}
.study {
  padding-top: 120px;
  padding-bottom: 122px;
}
.study-img {
  max-width: 480px;
  max-height: 320px;
}
.study-img-2 {
  max-width: 480px;
  max-height: 320px;
}
.gap_100 {
  gap: 100px;
}
.black_circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #0e1122;
}
.header-img {
  height: 100vh !important;
  object-fit: cover;
}
.blur-card-1 {
  max-width: 218px;
  top: 20%;
  left: -20%;
}
.blur-card-2 {
  max-width: 302px;
  top: -8%;
  right: -10%;
}
.mt_195 {
  margin-top: 195px;
}
.mt_164 {
  margin-top: 164px;
}
.mt_84 {
  margin-top: 0px;
}
.mt_121 {
  margin-top: 121px;
}
.mt_54 {
  margin-top: 0px;
}
.mt_67 {
  margin-top: 0px;
}
.lh_106 {
  line-height: 106%;
}
@media (max-width: 1199.98px) {
  .study-img {
    max-width: 387px;
    max-height: 258px;
    border-radius: 40px;
    object-fit: cover;
  }
  .study-img-2 {
    max-width: 387px;
    max-height: 258px;
    border-radius: 40px;
    object-fit: cover;
  }
}
@media (max-width: 991.98px) {
  .study {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .ml_168 {
    margin-left: 38px;
  }
  .mt_263 {
    margin-top: 400px;
  }
  .blur-position {
    top: 170px;
    right: 0px;
  }
  .blur-card {
    max-width: 305px;
  }
  .gap_100 {
    gap: 50px;
  }
}

@media (max-width: 767.98px) {
  .blur-card-1 {
    max-width: 175px;
    top: 0%;
    left: 0%;
  }
  .gap_100 {
    gap: 0px;
  }
  .blur-card-2 {
    max-width: 230px;
    top: -5%;
    right: 0%;
  }
  .blur-card {
    max-width: 195px;
  }
  .mt_195 {
    margin-top: 100px;
  }
  .mt_164 {
    margin-top: 100px;
  }
  .mt_84 {
    margin-top: 84px;
  }
  .mt_54 {
    margin-top: 54px;
  }
  .mt_67 {
    margin-top: 67px;
  }
}
@media (max-width: 390.98px) {
  .blur-card-1 {
    max-width: 175px;
    top: -20%;
    left: -2%;
  }
  .study-img {
    transform: translateX(60px) !important;
    border-radius: 40px;
    object-fit: cover;
  }
  .study-img-2 {
    transform: translateX(-60px);
    border-radius: 40px;
    object-fit: cover !important;
  }
}
@media (max-width: 575.98px) {
  .shopping-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .gap_52 {
    gap: 0px;
  }
  .max_w_290 {
    max-width: 290px;
  }
  .w_100 {
    width: 100%;
  }
  .mt_30 {
    margin-top: 30px;
  }
  .mt_44 {
    margin-top: 44px;
  }
}

/* dev css */

* {
  text-decoration: none !important;
  list-style-type: none !important;
}

.custon_container {
  max-width: 1264px;
}

.footer_padding {
  padding: 54px 52px 64px 52px;
}

.logo_img {
  width: 69px;
  height: 43.43px;
}

.gap_36 {
  gap: 36px !important;
}

.coman_btn {
  transition: all 300ms ease-in-out;
  border: 1px transparent;
  border-radius: 24px;
  padding: 7px 48px 13px 48px;
}

.coman_btn:hover {
  background: #000;
}

/* accordian */
.accordion-button.collapsed::after {
  background-image: url("/assets/images/svg/plus.svg") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/assets/images/svg/cross.svg") !important;
}

.accordion-button:not(.collapsed) {
  border-bottom: 0px solid #dddddf !important;
}

.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  background-color: #efece6 !important;
  border: 0px !important;
  border-bottom: 1px solid #dddddf !important;
}

.accordion-body {
  padding-top: 0px !important;
  max-width: 1030px;
  background-color: #efece6 !important;
  border-bottom: 1px solid #dddddf !important;
}

.max-w-438 {
  max-width: 438px;
}

.eligible_card {
  padding: 40px 22px;
}

.fw_sm_normal {
  font-weight: normal !important;
}

.dots {
  height: 7px;
  width: 7px;
  border-radius: 100px;
}

.benfit_card_bg3 {
  margin-top: 42px;
  background: #3c3f4e;
  border-radius: 24px;
}

.benfit_card_bg {
  background: #3c3f4e;
  border-radius: 16px;
}

.equlity_svg {
  margin-top: -6px;
}

.manufacturing_svg {
  margin-right: 8px;
}

.benfit_card_bg4 {
  width: 95px;
  height: 84px;
  margin-top: 24px;
  background: #3c3f4e;
  border-radius: 16px;
}

.benifit_card_1 {
  margin-top: 42px;
  width: 122px;
  height: 84px;
}

.benifit_card_2 {
  width: 205px;
  height: 79px;
}

.line {
  width: 162px;
  height: 10px;
  border-radius: 120px;
  background: #616372;
}

.line_white_circle {
  position: absolute;
  top: -69%;
  left: 34%;
  border-radius: 120px;
  background: white;
  width: 24px;
  height: 24px;
}

.line_white_blue {
  border-radius: 120px;
  height: 10px;
  width: 10px;
  background: #4c57ff;
}

.toltip {
  position: absolute;
  left: 16%;
  top: -42%;
}

.dot_1 {
  background-color: #aaacb8;
}

.dot_3 {
  background-color: #616371;
}

.dot_2 {
  background-color: #858895;
}

.girl_ellips {
  position: absolute;
  left: -24%;
  top: 14%;
}

.tik_vector {
  position: absolute;
  right: -14%;
  top: 28%;
  height: 36px;
  width: 36px;
  border-radius: 52px;
  background: #4c4f5d;
}

.seller_woamn {
  border-radius: 20px;
  object-fit: cover;
  max-width: 440px;
}

.fotter_icons {
  transition: all 300ms ease-in-out;
}

.fotter_icons:hover {
  transform: translateY(-6px);
}

.max_w_546 {
  max-width: 546px;
}

/*   ------------------------------ slider --------------- */
.slider_content {
  width: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 399px;
  max-height: 360px;
  opacity: 0;
}

.slick-dots li button:before {
  font-size: 8px !important;
}

.slick-dots li {
  height: 2px !important;
  width: 12px !important;
  margin: 0 !important;
}

.slick-dots li button {
  padding: 0 !important;
}

.swiper-slide {
  text-align: center;
}

.slick-dots {
  bottom: 2px !important;
}

.slider_img_radius {
  margin-top: 25px;
  width: 208px;
  height: 294px;
  border-radius: 40px;
}

.slider_para_w {
  max-width: 280px;
}

.slick-current .slider_content {
  display: block !important;
  padding: 40px !important;
  width: 100% !important;
  z-index: 2;
  opacity: 100%;
}

.medium_grey {
  color: #95959d;
}

.slider_content .slider_content_data {
  transition: all 0.5s ease-out;
  opacity: 0;
}

.px_apply_btn {
  border: 1px solid transparent !important;
  padding: 3.3px 9.5px !important;
}

.px_apply_btn:hover {
  color: #4c57ff !important;
  background-color: transparent !important;
  border: 1px solid #4c57ff !important;
}

.slick-current .slider_content .slider_content_data {
  transition: all 0.5s ease-out;
  transition-delay: 0.3s;
  opacity: 100%;
}

#centermode .slick-slide {
  width: 230px !important;
}

#centermode .slick-current {
  min-width: 655px;
}

.slick-current ~ div {
  border-radius: 40px;
}

#centermode.slick-current img {
  width: 250px !important;
  transition: all 0.3s ease-in-out;
}

.slick-current .slider_img_radius {
  margin-top: 0px;
  height: 344px;
  width: 223px;
  border-radius: 0px;
  z-index: 2;
}

.slick-current .w_20 {
  max-width: 631px !important;
}

.eligible_car3 {
  transform: translateY(-14px);
}

.eligible_car4 {
  transform: translateY(10px);
}

.lh-133 {
  line-height: 133% !important;
}

.manufacturing_btn {
  transform: translateX(50px);
}

.slider_bttns {
  left: 46.5%;
  bottom: 7.2%;
}
#slick-slide03 {
  max-width: 200px;
  height: 100px;
}
@media (max-width: 1200px) {
  .slider_bttns {
    display: none !important;
  }
}

@media (max-width: 767.9px) {
  #centermode .slick-slide {
    width: 380px !important;
  }

  #centermode .slick-current {
    min-width: 700px;
  }
  .manufacturing_btn {
    transform: translateX(20px);
  }

  .manufacturing_btn2 {
    transform: translateX(-25px);
  }

  .slider_content {
    opacity: 100% !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 318px !important;
    max-height: 278px;
    padding: 20px !important;
  }

  .slick-current .slider_content {
    padding: 22px !important;
  }

  #centermode.slick-current img {
    width: 320px !important;
  }

  .slick-current {
    min-width: 300px;
  }
}

@media (max-width: 426px) {
  .slider_bttns {
    display: block !important;
    left: 36.5%;
    bottom: 3.2%;
  }
}

@media (max-width: 576px) {
  .slick-dots {
    bottom: -25px !important;
  }

  .slick-current {
    padding-left: 0px;
    padding-right: 0px;
  }

  #centermode .slick-current {
    padding-left: 38px !important;
    padding-right: 38px !important;
    min-width: 394px;
  }

  .fw_sm_normal {
    font-weight: 500 !important;
  }

  .eligible_card {
    padding: 20px 3px;
  }

  .max-w-438 {
    max-width: 438px;
  }

  .accordion_heading {
    max-width: 230px;
  }

  .seller_woamn {
    width: 417px;
    height: 278px;
    transform: translatex(-14%);
  }

  .facebook_icon {
    width: 9px;
    height: 17px;
  }

  .instagram_icon {
    width: 17px;
    height: 17px;
  }

  .linkdin_icon {
    width: 20px;
    height: 19px;
  }

  .twiter_icon {
    width: 18px;
    height: 15px;
  }

  .footer_padding {
    padding: 54px 34px 14px 40px;
  }

  .gap_36 {
    gap: 23px !important;
  }
}

.w_20 {
  max-width: 208px;
}
